@tailwind base;
@tailwind components;
@tailwind utilities;
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@keyframes progress-bar {
    0% { width: 100%; }
    100% { width: 0%; }
  }
  
  .progress-bar {
      animation-fill-mode: forwards; /* Keep final state */
      animation-iteration-count: 1;
  }